<center>
  <h1>Add a New Band!</h1>
</center>
<br>
<form action="/bands" method="post">
  <div class="form-group">
    <label for="band">Band's name:</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="e.g. Bon Jovi" required>
    <br>
    <button type="submit" name="btn btn-lg-default">Add Band</button>
  </div>
</form>
