<center><h1><b><u><%= @band.name() %></u></b></h1></center>
<br>
<br>
<h4>Venues Played:</h4>
<% if @band.venues.any?() %>
  <ul>
    <% @band.venues.each() do |venue| %>
      <li><%= venue.name() %></li>
    <% end %>
  </ul>

<% else %>

  <span style="padding-left: 20px; display:block"><p>There is no venue information for this band.</p></span>
<% end %>
<br>
<center>
<h3><a href="/band/<%= @band.id %>/edit">Update Band</a></h3>
</center>
<br>
<br>
<form action="/band/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-danger btn" type="submit">DELETE BAND</button>
</form>
<br>
<a href="/bands">Back</a>
<br>
<a href="/">Home Page</a>
