<center>
<h1>Welcome to the Concert Organizer!</h1>
<h3>Use this rockin' tool to keep track of your favorite bands and venues.</h3>
</center>
<br>
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a role="button" href="/band/new" class="btn btn-danger">ADD A NEW BAND</a>
  </div>
  <div class="btn-group" role="group">
    <a role="button" href="/venue/new" class="btn btn-danger">ADD A NEW VENUE</a>
  </div>
</div>
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a role="button" href="/bands" class="btn btn-primary">SEE ALL BANDS</a>
  </div>
  <div class="btn-group" role="group">
    <a role="button" href="/venues" class="btn btn-primary">SEE ALL VENUES</a>
  </div>
</div>
