<center>
  <h1>Add a New Venue!</h1>
</center>
<br>
<form action="/venues" method="post">
  <div class="form-group">
    <label for="venue">Venue's name:</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="e.g. Gorge Amphitheater" required>
    <br>
    <button type="submit" name="btn btn-lg-default">Add Venue</button>
  </div>
</form>
